---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Credentials from '../components/Credentials.astro';
import Hobbies from '../components/Hobbies.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Projects />
    <About />
    <Experience />
    <Credentials />
    <Hobbies />
    <Contact />
  </main>
  <Footer />
  <BackToTop />
</BaseLayout>
